*{
  padding:0;
  margin:0;
}

body{
  max-height:100%;
  background:black;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
}

button{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:  #33ff33;
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  color: #fff;
  display: block;
  margin:0 auto;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  border: none;
}

.top{
 height: 30vh;
}
.middle{
 height: 40vh;
}
img{
  border:2px solid white;
  float:left;
  position: relative;
  top: -40px;
  left:-40px;
  height: 15vh;
  width: 15vh;
  border-radius: 50px;
}
.bottom{
 height: 30vh;
 width:100%;
}

/* language icons */
i[class^="devicon"]{
  font-size: 10vw;
  padding-left: 10vw;
}
.devicon-linux-plain{
  color:white;
}
.devicon-css3-plain{
  color:#4db8ff;
}
.devicon-html5-plain{
  color:#ff944d;
}
.devicon-rails-plain{
  color:#ff0000;
}
.devicon-ruby-plain{
  color:#cc0000;
}
.devicon-react-original{
  color:#99ccff;
}
.devicon-javascript-plain{
  color:#ffcc00;
}
.devicon-github-plain{
  color:green;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(4%);
  }
}

.animate{  
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  animation-fill-mode: forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 1;
    transform: translateX(99%);
  }
  100% {
    opacity: 1;
    transform: translateX(4%);
  }
}

.animate-2{  
  position: fixed;
  bottom:0;
  opacity:0;
  animation: 1.5s ease-out 1.5s 1 slideInFromRight;
  animation-fill-mode: forwards;
}

@keyframes opa{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro{
  border:1px solid black;
  padding: 15px;
  width: 60%;
  min-height: 100%;
  background:#b3b3b3;
  display: block;
  margin:0 auto;
  border-radius: 25px;
  opacity: 0;
  animation: 2s ease-out 3.5s 1 opa;
  animation-fill-mode: forwards;
}