*{
  padding:0;
  margin:0;
}

body{
  max-height:100%;
}

.top{
 height: 33vh;
}
.middle{
 height: 33vh;
}
.bottom{
 padding-top: 10vh;
 height: 33vh;
 width:100%;
}

/* language icons */
i[class^="devicon"]{
  font-size: 12vw;
  padding-left: 10vw;
}
.devicon-linux-plain{
  color:black;
}
.devicon-css3-plain{
  color:#4db8ff;
}
.devicon-html5-plain{
  color:#ff944d;
}
.devicon-rails-plain{
  color:#ff0000;
}
.devicon-ruby-plain{
  color:#cc0000;
}
.devicon-react-original{
  color:#99ccff;
}
.devicon-javascript-plain{
  color:#ffcc00;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate{  
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
  animation-fill-mode: forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-2{  
  animation: 1.5s ease-out 0s 1 slideInFromRight;
  animation-fill-mode: forwards;
}