*{
  box-sizing: border-box;
  margin:0;
}

body{
  padding:0;
  margin:0;
  height:100%;
  max-width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #c6d9ec !important;
}

h1{
  margin-top: 90px !important;
  font-family: 'Metal Mania', cursive !important;
  font-weight: bold;
  text-align: center;
}

p{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size:18px;
  text-align: center;
  padding:40px;
}

.images{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

.navbar-brand{
  font-family: 'Pacifico', cursive !important;
}

.navbar {
  border:none !important;
  margin-bottom: 0 !important;
  background:#204060 !important;
}

#black{
  color: black !important;
}

#white{
  color: white !important;
}

.fabicon{
  display: block;
  margin:0 auto;
  width:200px;
  height:200px;
  border-radius: 50%;
}

.wrapper{
  text-align: center;
  display: block;
  margin:0 auto;
  max-width: 900px;
}