*{
  box-sizing: border-box;
  margin:0;
}

body{
  padding:0;
  margin:0;
  height:100%;
  max-width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #c6d9ec !important;
}

img {
  width: 80%;
  height: auto;
}

a:hover{
  color: black !important;
}

button:hover{
  color: black;
}

.navbar-brand{
  font-family: 'Pacifico', cursive !important;
}

#black{
  color: black !important;
}

#white{
  color: white !important;
}

.html{
  color:#e34f26;
  font-weight: bold;
}

.css{
  color:#1aa3ff;
  font-weight: bold;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.ruby{
  color:#cc342d;
  font-weight: bold;
}

.javascript{
  color:orange;
  font-weight: bold;
}

.git{
  color:black;
  font-weight: bold;
}

.navbar {
  border:none !important;
  margin-bottom: 0 !important;
  background:#204060 !important;
}

.underline{
  text-decoration: underline;
}

.top-container{
  margin-top: 50px;
  color:white;
  font-size: 45px;
  text-align: center;
}

.header{
  padding-top:36px;
  font-weight: bold;
  font-family: 'Playfair Display', serif !important;
  text-shadow: 2px 2px 4px #000000;
}

.content{
  font-size: 24px;
  width: 80%;
  margin:0 auto;
  padding-top: 10px;
  line-height: 1.5;
  text-shadow: 2px 2px 4px #000000;
}

.contact-button{
  font-weight: bold;
  height: 40px;
  width:190px;
  border:0;
  background: #204060;
  color:white;
  font-size: 16px;
  box-shadow: inset 0 0 5px #000000;
}

#background-image{
  min-height:400px;
  background:url('assets/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
}

.article-header{
  font-family: 'Playfair Display', serif;
}

.article-left{
  line-height: 2;
  float: left;
  text-align: center;
  width:45%;
  margin-top: 75px;
}

.sidebar-left{
  text-align: center;
  width: 45%;
  float: right;
  margin-top: 75px;
}

.article-right{
  line-height: 2;
  text-align: center;
  padding-left: 100px;
  float:right;
  width:50%;
  margin-top: 75px;
}

.sidebar-right{
  text-align: center;
  padding-right: 100px;
  width: 50%;
  float: left;
  margin-top: 75px;
}

h4{
  text-align: center;
  text-decoration: underline;
  font-family: 'Playfair Display', serif !important;
}

a{
  color: white !important;
}

i[class^="fa"] {
  padding: 0 15px;  
  font-size: 24px;
  margin-bottom: 8px;
}

i[class$="github"] {
  color:green;
}

i[class$="official"] {
  color: blue;
}

i[class$="angellist"] {
  color: gray;
}

.center{
  text-align: center;
  width: 100%;
}

#fifty{
  width: 100%;
  min-height: 1px;
}

#max{
  max-width: 400px !important;
}

.contact-container{
  padding:10px 20px;
  background: white;
  display: block;
  margin: 80px auto;
  width: 400px;
  height: 550px;
  border:1px solid black;
  box-shadow: 5px 10px 8px #888888;
}

input[type="text"]{
  width:100%;
  margin-bottom: 20px;
}

textarea{
  width: 100%;
  margin-bottom: 40px !important;
  resize: none !important;
}

footer{
  width: 100%;
  background: #204060;
  color: white;
  height: 50px;
  text-align: center;
  padding: 15px;
}

input[type="submit"]{
  display: block;
  margin:0 auto;
  background: #0077c5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  height:30px;
  width:200px;
  color: white;
  cursor: pointer;
  font-size: 1.125em;
}

#op1{
  opacity: 0;
  animation-name: one;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

@keyframes one {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#op2{
  opacity: 0;
  animation-name: two;
  animation-duration: 1.5s;
  animation-delay: .5s;
  animation-fill-mode:forwards;
}

@keyframes two {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#op3{
  opacity: 0;
  animation-name: three;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode:forwards;
}

@keyframes three {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#op4{
  opacity: 0;
  animation-name: four;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode:forwards;
}

@keyframes four {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media only screen and (max-width: 500px) {
  .contact-container{
    display: block;
    margin: 80px auto !important;
    width: 90% !important;
  }
}

@media only screen and (max-width: 1000px) {
  img{
    max-width: 80%; 
  }
  button{
    margin-bottom: 20px !important;
  }
  .article-left,
  .article-right,
  .sidebar-left,
  .sidebar-right,
  .container {
    line-height: 1.5;
    margin-top:15px;
    padding:0;
    width:100%;
  }
  .header{
    font-size: 24px;
  }
  .content{
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
  }
}